body {
    background: #fa9ffa;
  }

#title{
    color: rgb(247, 55, 113);
    
}

#album-container{
    margin:2rem;
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.card {
    /*background-color: rgb(196, 42, 121);*/
    text-align: center;
    border: rgb(80, 5, 87) solid 1px;
    padding: 2rem;
    width: 25rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px rgb(247, 55, 113);
    
    
  }

  .card-image{
      text-align: 'center';
      width: 28rem;
      height: 28rem;
      margin: -4rem -2.7rem;
      /*box-shadow: 5px 6px rgb(247, 93, 165);*/

  }

  
  .album-photo {
    justify-self: center;
    height: 12rem;
    width: auto;
  }